#IntelliJ Idea files
.idea/**
*.iml
out/

#Java .class files
*.class

#output images
*rgb_to_grayscale.jpeg
*redFilter.jpeg
*blueFilter.jpeg
*greenFilter.jpeg
*invert.jpeg
*rgb_deepfry.jpeg
*glass_filter.jpeg